@import '../../app/app.all.scss';
.changeMobile {
    overflow: visible;
    >label {
        text-align: left !important;
        text-indent: 15px;
    }
    .cardnumber {
        margin-bottom: 10px;
        li div label {
            position: absolute;
            right: 0;
            font-size: 15px;
            color: #999;
        }
        &.top {
            padding-right: 15px;
        }
        &.bottom {
            margin-bottom: 70px;
            span {
                flex: 0 0 90px;
            }
            li {
                div {
                    a {
                        position: absolute;
                        right: 15px;
                        z-index: 9;
                        color: #00aaff;
                        font-size: 15px;
                        white-space: nowrap;
                        @media screen and(max-width: 320px){
                            right: 5px;
                        }
                    }
                }
            }
        }
    }
    >a {
        position: fixed;
        // @media screen and (max-width: 320px) {
        //     position: relative;
        //     top: 20px;
        // }
    }
    .imgCode {
        position: relative;
        img {
            position: absolute;
            right: 10px;
            z-index: 9;
            top: 0;
            height: 80%;
            top: 10%;
        }
    }
}

.loginPsd {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: flex;
    align-items: center;
    >a {
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.4);
        width: 100%;
        height: 100%;
    }
    >div {
        background: #fff;
        position: relative;
        margin: auto;
        width: 90%;
        text-align: center;
        p {
            font-size: 18px;
            text-align: center;
            line-height: 50px;
            @include border_s(0, 0, 1px);
            a {
                color: #c8c7cc;
                font-size: 24px;
                position: absolute;
                right: 0;
                padding: 0 20px;
            }
        }
        >a {
            font-size: 18px;
            background: $color_red;
            line-height: 50px;
            width: 90%;
            display: inline-block;
            color: #fff;
            margin: 20px;
            text-align: center;
            border-radius: 8px;
        }
        div {
            a {
                font-size: 13px;
                color: #999;
                width: 95%;
                text-align: right;
                display: block;
            }
            input {
                background-color: #eee;
                border: 0;
                line-height: 50px;
                font-size: 18px;
                width: 90%;
                margin: 20px 0 10px;
                text-indent: 20px;
            }
        }
    }
}
