@import '../../app/app.all.scss';

.usermsgchange{
	// margin-top: 45px;
	background:#fff;
	ul{
		@include border_s(1px,0,1px);
		font-size: 15px;
		color:#333;
		li{
			height: 49px;
			line-height: 49px;
			position: relative;
			i{
                @include bg_icon(-122px, 0);
                width: 22px;
                height: 23px;
                position: absolute;
                left: 13px;
                top: 12px;
                &.icon-bank{
                	@include bg_icon(-34px, 0);
                }
                &.icon-phone{
                	@include bg_icon(-166px, 0);
                }
			}
			div{
				margin-left: 52px;
				@include border_s(0,0,1px);
				&:after{
					content: '';
				    width: 8px;
				    height: 13px;
				    display: inline-block;
				    right: 15px;
				    top: 18px;
				    position: absolute;
                    @include bg_icon(0, 0);
				}
			}
		}

		li:last-of-type div:before{
			border-bottom: 0;
		}
	}
}

#submit{
	position: fixed;
	bottom: 0;
	text-align: center;
	width: 100%;
	color:#fff;
	background:#ff5600;
	font-size: 15px;
	line-height: 49px;
	height: 49px;
}