/*页面样式*/
$color_border:#ddd;
$border:1px solid $color_border;
$color_gray_black:#666;
$color_gray_white:#333;
$color_red:#ff5600;
$color_blue:#00aaff;
@mixin border_s($top:0, $right:0, $bottom:0, $left:0) {
    position: relative;
    &:before {
        content: '' !important;
        position: absolute;
        left: 0;
        top: 0;
        border: $border;
        border-width: $top $right $bottom $left;
        width: 200%;
        height: 200%;
        transform: scale(.5, .5);
        box-sizing: border-box;
        transform-origin: 0 0;
    }
}

@mixin bg_icon($pl:0, $pr:0, $bgsize:0.5) {
    background: url(http://miz-image.b0.upaiyun.com/miz-user/img/user1.png) no-repeat;
    background-size: 322px*$bgsize 56px*$bgsize;
    background-position: $pl*$bgsize $pr*$bgsize;
}

@media screen and (min-width: 760px) {
    body,
    .header,
    .body {
        width: 760px !important;
    }
    .body,
    .header {
        margin: 0 auto;
        margin-left: calc(50% - 380px);
    }
}

.swal2-container{
    display: flex;
}
.show-swal2{
    width: 85% !important;
}