@import '../../app/app.all.scss';

.caips {
    margin-bottom: 40px;
    .sec {
        width: 100%;//
        margin-top: 10px;
        @include border_s(1px, 0, 1px);
        ul {
            width: 80%;

            padding: 0 15px;
            background: #fff;
            li {
                height: 49px;
                color: $color_gray_white;
                line-height: 49px;
                span {
                    white-space: nowrap;
                }
                span:last-child {
                    text-align: right;
                    color: $color_gray_black;
                    float: right;
                }
                &:not(:last-child) {
                    @include border_s(0, 0, 1px);
                }
            }
        }
        >a {
            font-size: 18px;
            color: #fff;
            background: $color_red;
            text-align: center;
            line-height: 147px;
            position: relative;
            display: block;

            width: 20%;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .reason {
        display: none;
    }
    .CHECK_FAILED {
        .sec {
            &:before {
                border-bottom: 0;
            }
            ul {
                li {
                    @include border_s(0, 0, 1px);
                }
            }
        }
        .reason {
            padding: 15px;
            background: #fff;
            display: block;
            div {
                padding: 0 0 5px;
            }
            label {
                color: $color_gray_black;
                line-height: 23px;
                font-size: 13px;
                word-break: break-word;
                max-height: 42px;
                overflow: hidden;
                display: block;
            }
            a {
                display: none;
            }
            &.more {
                a {
                    color: $color_blue;
                    display: block;
                    margin-top: 10px;
                }
            }
        }
    }
    .loading {
        height: 100%;
        background: url(http://miz-image.b0.upaiyun.com/xplan/car.gif);
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: center 30%;
        &.nothing {
            background-image: url(http://miz-image.b0.upaiyun.com/miz-user/blank.png);
        }
    }
}


@supports (display:flex){
    .sec {
        display: flex;
        width:auto !important;
        ul {
            flex: 1 1 60px;
            width: auto !important;
            li{
                display: flex;
                span{
                    flex: 1;
                }
                span:last-child{
                    float:none !important;
                    flex: 2;
                }
            }
        }
        >a{
            flex: 0 0 60px;
            width: auto !important;
            position: relative !important;
            right: 0;
            top: 0;
        }
    }
}