@import '../../app/app.all.scss';

.xplan-container {
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative;
    background-color: #fafafa;
    -webkit-overflow-scrolling: touch;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 45px;
    z-index: 9999;
    background-color: #fff;
    padding: 0;
    display: none;
    .title {
        font-size: 18px;
        color: #333;
        text-align: center;
    }
}

.arrow-back {
    padding-left: 10px;
    height: 40px;
}

.right-btn-item {
    margin-right: 10px;
}

.jc-start a.share {
    background: url('http://miz-image.b0.upaiyun.com/xplan/2.0/xiang.png') no-repeat;
    display: inline-block;
    background-position: -70px 0;
    width: 21px;
    height: 22px;
    background-size: 117px 31px;
    position: absolute;
    right: 0;
    top: 10px;
    padding: 15px;
}

.myorder {
    height: 45px;
    line-height: 45px;
    position: absolute;
    top: 0;
}

.body {
    // margin-top: 45px;
    background: #eee;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    bottom: 0;
    overflow: visible;
}

.telephone {
    @include bg_icon(-78px,
    0);
    width: 22px;
    height: 23px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.imageok {
    position: absolute;
    right: 10px;
    height: 100%;
    line-height: 45px;
    color: #1e9263;
    top: 0;
}

.findprogress {
    font-size: 14px;
    color: #999;
    position: absolute;
    right: 15px;
    top: 15px;
}

.showTel {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: 9;
    ~section {
        background: #fff;
        width: calc(100% - 30px);
        position: absolute;
        top: calc(100% * 0.3);
        z-index: 11;
        margin-left: 15px;
        border-radius: 5px;
        div{
            font-size: 15px;
            text-align: center;
            height: 50px;
            line-height: 50px;
            @include border_s(0,0,1px);
        }
    }
}