@import '../../app/app.all.scss';
.bank {
    ul li div {
        color: $color_gray_white;
        font-size: 15px;
    }
    .bind {
        margin-bottom: 10px;
    }
    select {
        position: relative;
        flex: 1;
        border: 0;
        height: 49px;
    }
    .reason {
        li {
            height: auto;
            select {
                width: 100%;
            }
        }
    }
    .cardnumber .select2 {
        align-items: center;
        display:flex;
        margin-left: 15px;
        .selection {
            width: 100%;
            position: relative;
        }
    }
}

.select2-search__field {
    display: none;
}
