@charset "UTF-8";
@import '../../app/app.all.scss';
.changeidcard {
    margin-bottom: 80px;
    >label {
        text-align: center;
        display: block;
        font-size: 13px;
        color: $color_gray_black;
        line-height: 33px;
    }
    >ul {
        @include border_s(1px, 0, 1px);
        background: #fff;
        li {
            height: 60px;
            margin-left: 15px;
            position: relative;
            line-height: 60px;
            color: $color_gray_white;
            font-size: 15px;
            .upload {
                width: 100px;
                position: absolute !important;
                right: 0;
                top: 0;
                height: 100%;
                @include border_s(0, 0, 0, 1px);
                input {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                }
                i {
                    @include bg_icon(-266px, 0);
                    display: block;
                    width: 28px;
                    height: 29px;
                    margin: 10px auto;
                    &:after {
                        content: '点击上传图片';
                        color: $color_red;
                        font-size: 12px;
                        display: inline-block;
                        position: absolute;
                        left: 16px;
                        top: 15px;
                    }
                }
                &.ready {
                    i {
                        @include bg_icon(-210px, 0);
                        &:after {
                            content: '已上传，点击查看';
                            font-size: 10px !important;
                            left: 11px;
                        }
                    }
                    input {
                        z-index: -1;
                    }
                }
            }
        }
        >:not(:last-child) {
            @include border_s(0, 0, 1px);
        }
    }
    .cardnumber {
        margin-bottom: 10px;
        li {
            div {
                display: flex;
                align-items: center;
                input {
                    border: 0;
                    flex:1;
                    // width: 80%;
                    // width: calc(100% - 80px);
                    text-indent: 15px;
                    height: 46px;
                    position: relative;
                    top: 1px;
                    z-index: 9;
                    margin: 0;
                    padding: 0;
                }
                label{
                    text-indent: 15px;
                }
            }
        }
    }
    .reason {
        margin: 10px 0 30px;
        >:first-child {
            height: 44px;
            line-height: 44px;
        }
        li {
            margin-right: 15px;
        }
        textarea {
            width: 100%;
            resize: none;
            font-size: 13px;
            color: $color_gray_black;
            line-height: 23px;
            border: 0;
            z-index: 9;
        }
    }
    >span {
        font-size: 13px;
        color: $color_gray_black;
        padding: 7px 15px 0 15px;
        display: block;
        &.bind{
            padding-bottom: 0;
        }
    }
    .submit {
        bottom: 0;
        width: 100%;
        height: 49px;
        color: #fff;
        background: $color_red;
        font-size: 18px;
        text-align: center;
        line-height: 49px;
        display: block;
        z-index: 9;
        position: fixed;
    }
}

.showimg {
    position: fixed;
    left: 0;
    // top: 45px;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    height: calc(100% - 45px);
    background-color: rgba(0, 0, 0, 0.9);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 150 !important;
    animation: show 0.5s;
    // background-size: 30%;
    background-image: url(http://miz-image.b0.upaiyun.com/xplan/car.gif);
    &.camera{
        transform: rotate(-90deg);
        top: 0;
        animation:initial;
    }
}

@keyframes show {
    from {
        top: 100%;
    }
    to {
        // top: 45px;
        top: 0;
    }
}

.water {
    position: fixed;
    left: 0;
    // top: 45px;
    top:0;
    display: block;
    width: 100%;
    height: 100%;
    height: calc(100% - 45px);
    background: url('http://miz-image.b0.upaiyun.com/miz-user/img/water.png');
    background-size: contain;
    z-index: 151 !important;
    animation: show 0.5s;
    &.camera{
        animation:initial;
    }
}

.operate {
    position: fixed !important;
    bottom: 0;
    width: 100%;
    height: 44px;
    background: #fff;
    z-index: 152 !important;
    @include border_s(1px);
    display: flex;
    span {
        text-align: center;
        color: $color_red;
        font-size: 18px;
        line-height: 30px;
        height: 30px;
        position: relative;
        top: 7px;
        // width: 50%;
        display: inline-block;
        flex:1;
        display: block;
    }
    :not(:last-child) {
        @include border_s(0,
        1px);
    }
}

// .errmsg {
//     position: fixed;
//     width: 80%;
//     line-height: 40px;
//     background: #000;
//     color: #fff;
//     text-align: center;
//     margin-left: 10%;
//     border-radius: 7px;
//     animation: myerr 3s;
//     z-index: 999;
//     word-break: break-all;
//     padding: 5px 20px;
// }

// @keyframes myerr {
//     0% {
//         top: 10%;
//         opacity: 0.5;
//     }
//     55% {
//         top: 32%;
//         opacity: 0.9;
//     }
//     60% {
//         top: 30%;
//         opacity: 0.9;
//     }
//     100% {
//         top: 30%;
//         opacity: 0;
//     }
// }

.submitImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:{
        image:url(http://miz-image.b0.upaiyun.com/xplan/car.gif);
        color:rgba(0, 0, 0, 0.8);
        size: 40%;
        repeat:no-repeat;
        position: {
            x:center;
            y:40%;
        }
    }
    z-index: 77;
}